


#cv-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#cv-header  h1{
  font-weight: 500;
  font-size: 2.5rem;
}

.contact-info{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

a{
  text-decoration: none;
  color: black;
}


#cv-education{
  margin: 20px 30px;
}

#cv-education-header{
  font-size: 1.25rem;
  border-bottom: thin solid black;
  padding: 3px 0;
}

#cv-education .cv-education-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 15px;
}