


#cv-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}


#cv-header  h1{
  font-weight: 500;
  font-size: 2.5rem;
}

.contact-info{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

a{
  text-decoration: none;
  color: black;
}


.cv-template-container{
  margin: 10px 30px;
}

.cv-template-header{
  font-size: 1.25rem;
  border-bottom: thin solid black;
  padding: 3px 0;
  
}

.cv-template-container .cv-template-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 15px;
}


.cv-template-ul{
  padding-left: 45px;
  
}

.cv-template-ul li:first-child{
  margin-top: 0px;
}

.cv-template-ul li{
  margin: 10px 0px;
}

.cv-template-skills{
  padding: 3px 15px;
}

