


.card{
  border: thin solid black;
  border-radius: 15px;
  padding: 15px;

}

.card > .card-header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 10px;
  border-bottom: thin solid white;
  gap: 15px;
}

.details{
  height: 1rem;
  width: 1rem;
}

.card > form{
  display: flex;
  flex-direction: column;
  padding: 5px 30px;
}

form > .input-div{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
}

.input-div > input{
  height: 2rem;
  border-radius: 12px;
  padding: 10px;
}


form > .checkbox-div{
  display: flex;
  gap: 5px;
  width: 100%;
  padding: 5px;
}

textarea{
  max-width: 100%;
  padding: 5px;
}


.button-group{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-top: 10px;
}

.button-div{
  padding: 5px;
}

.button-div button,
.button-group button{
  padding: 0.5rem;
  border-radius: 5px;
  transition: background-color 0.25s ease-in-out 0.0s;
  cursor: pointer;
}

.button-div button:hover,
.button-group button:hover{
  background-color: grey;
}

.button-div button:disabled:hover,
.button-group button:disabled:hover{
  background-color: white;
  cursor: default;
}

.button-div button:active,
.button-group button:active{
  transform: scale(0.90);
}

.button-div button:disabled:active,
.button-group button:disabled:active{
  transform: none;
}



.add-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: rgb(167, 161, 161);
  color: black;
  border-radius: 10px;
  padding: 5px 15px;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out 0.0s;
}

.add-btn:hover{
  background-color: rgb(77, 74, 74);
}

.add-btn:active {
  transform: scale(0.99); /* Slight shrink effect */
}

.add-btn > img{
  height: 1rem;
  width: 1rem;
}

.close-btn{
  display: flex;
  justify-content: right;

}
.close-btn button{
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
}